Extra packages I used for my environment:
- openpyxl
- ipykernel

In [ ]:
import pandas as pd
#from urllib.request import urlretrieve
from pathlib import Path

In [ ]:
veg_data_url = "https://docs.google.com/spreadsheets/d/1wMIaGTr2x2zwaK8XDsY8fBEsji3TXOQD/edit?usp=sharing&ouid=111380322270284647450&rtpof=true&sd=true"
veg_data_download_url = 'https://drive.google.com/uc?id=' + veg_data_url.split('/')[-2]

veg_data_download_url
#veg_data_path = Path("./veg_data.xlsx")
#urlretrieve(veg_data_download_url, veg_data_path)

'https://drive.google.com/uc?id=1wMIaGTr2x2zwaK8XDsY8fBEsji3TXOQD'

In [ ]:
station_raw = pd.read_excel(veg_data_download_url, sheet_name="STATION", skiprows=[0], header=list(range(0,4))).droplevel([1,2,3], axis = 1)
data_raw = pd.read_excel(veg_data_download_url, sheet_name="DATA", skiprows=[0,1], header=list(range(0,4))).droplevel([1,2,3], axis = 1)
taxa_raw = pd.read_excel(veg_data_download_url, sheet_name="Ref_Taxa")
cover_raw = pd.read_excel(veg_data_download_url, sheet_name="Ref_Cover_classes", header=[0,1])

In [ ]:
station = station_raw[["SCODE", "eastBoundingCoordinate", "northBoundingCoordinate", "altitudeMinimum"]]
station

       SCODE  eastBoundingCoordinate  northBoundingCoordinate  altitudeMinimum
0    0001F01                14.44759                 47.83903            908.5
1    0002F01                14.44998                 47.83961            906.2
2    0003F01                14.45150                 47.83983            894.5
3    0004F01                14.45267                 47.84016            891.1
4    0005F01                14.45205                 47.84122            879.9
..       ...                     ...                      ...              ...
162  0196F01                14.44288                 47.84450            801.9
163  0197F01                14.44199                 47.84413            768.5
164  0198F01                14.43909                 47.84143            801.1
165  0199F01                14.43949                 47.84360            659.2
166  0200F01                14.44245                 47.84345            801.5

[167 rows x 4 columns]

In [ ]:
data = data_raw[["SCODE", "YEAR", "MONTH", "DAY", "TAXA", "SUBST", "METHOD_CODE", "VALUE"]]
data_date = data[["YEAR", "MONTH", "DAY"]].copy() \
    .rename(columns={"YEAR":"year", "MONTH":"month", "DAY":"day"})
data.insert(data.columns.get_loc('DAY')+1, "datetime", pd.to_datetime(data_date).map(lambda x: x.strftime("%Y%m%d")))
data

,SCODE,YEAR,MONTH,DAY,datetime,TAXA,SUBST,METHOD_CODE,VALUE
0,0001F01,1993,7,15,19930715,100002,COVE_F,Br-Bl-7,2
1,0001F01,1993,7,15,19930715,100008,COVE_F,Br-Bl-7,+
2,0001F01,1993,7,15,19930715,100016,COVE_F,Br-Bl-7,+
3,0001F01,1993,7,15,19930715,100112,COVE_F,Br-Bl-7,1
4,0001F01,1993,7,15,19930715,100116,COVE_F,Br-Bl-7,+
...,...,...,...,...,...,...,...,...,...
32604,0196F01,2021,6,22,20210622,100320,COVE_F,Pfadenhauer-9,3
32605,0196F01,2021,6,22,20210622,100356,COVE_F,Pfadenhauer-9,+
32606,0196F01,2021,6,22,20210622,100358,COVE_F,Pfadenhauer-9,+
32607,0196F01,2021,6,22,20210622,100369,COVE_F,Pfadenhauer-9,+
32608,0196F01,2021,6,22,20210622,100246,COVE_S,Pfadenhauer-9,1a

In [ ]:
taxa = taxa_raw[["Taxa_code", "Species name"]] \
    .rename(columns={"Taxa_code": "TAXA"})
taxa

gbif_species_export = taxa.copy() \
    .rename(columns = {"TAXA" : "id", "Species name" : "scientificName"})
gbif_species_export['kingdom'] = "Plantae"
gbif_species_export.to_csv(Path("./gbif_species_export.csv"), index=False)

In [ ]:
gbif_species_normalized_raw = pd.read_csv(Path("./gbif_species_normalized.csv"))
gbif_species_normalized_raw

,occurrenceId,verbatimScientificName,scientificName,key,matchType,confidence,status,rank,kingdom,phylum,class,order,family,genus,species,canonicalName,authorship,usageKey,acceptedUsageKey
0,100001,Abies alba,Abies alba Mill.,2685484,EXACT,99,ACCEPTED,SPECIES,Plantae,Tracheophyta,Pinopsida,Pinales,Pinaceae,Abies,Abies alba,Abies alba,Mill.,2685484,NaN
1,100002,Acer pseudoplatanus,Acer pseudoplatanus L.,3189870,EXACT,99,ACCEPTED,SPECIES,Plantae,Tracheophyta,Magnoliopsida,Sapindales,Sapindaceae,Acer,Acer pseudoplatanus,Acer pseudoplatanus,L.,3189870,NaN
2,100003,Acinos alpinus,Acinos alpinus (L.) Moench,7308311,EXACT,100,SYNONYM,SPECIES,Plantae,Tracheophyta,Magnoliopsida,Lamiales,Lamiaceae,Clinopodium,Clinopodium alpinum,Acinos alpinus,(L.) Moench,7308311,7307319.0
3,100004,Aconitum napellus,Aconitum napellus L.,3033665,EXACT,99,ACCEPTED,SPECIES,Plantae,Tracheophyta,Magnoliopsida,Ranunculales,Ranunculaceae,Aconitum,Aconitum napellus,Aconitum napellus,L.,3033665,NaN
4,100005,Aconitum vulparia,Aconitum vulparia Rchb.,3033682,EXACT,99,SYNONYM,SPECIES,Plantae,Tracheophyta,Magnoliopsida,Ranunculales,Ranunculaceae,Aconitum,Aconitum lycoctonum,Aconitum vulparia,Rchb.,3033682,3923253.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
330,100448,Euonymus latifolius,Euonymus latifolius (L.) Mill.,7433196,EXACT,99,ACCEPTED,SPECIES,Plantae,Tracheophyta,Magnoliopsida,Celastrales,Celastraceae,Euonymus,Euonymus latifolius,Euonymus latifolius,(L.) Mill.,7433196,NaN
331,100449,Galeopsis pubescens,Galeopsis pubescens Besser,5341310,EXACT,99,ACCEPTED,SPECIES,Plantae,Tracheophyta,Magnoliopsida,Lamiales,Lamiaceae,Galeopsis,Galeopsis pubescens,Galeopsis pubescens,Besser,5341310,NaN
332,100450,Hieracium sp.,Hieracium L.,3134951,EXACT,80,ACCEPTED,GENUS,Plantae,Tracheophyta,Magnoliopsida,Asterales,Asteraceae,Hieracium,NaN,Hieracium,L.,3134951,NaN
333,100452,Aegopodium podagraria,Aegopodium podagraria L.,3034620,EXACT,100,ACCEPTED,SPECIES,Plantae,Tracheophyta,Magnoliopsida,Apiales,Apiaceae,Aegopodium,Aegopodium podagraria,Aegopodium podagraria,L.,3034620,NaN
334,100453,Verbascum sp.,Verbascum L.,2928970,EXACT,80,ACCEPTED,GENUS,Plantae,Tracheophyta,Magnoliopsida,Lamiales,Scrophulariaceae,Verbascum,NaN,Verbascum,L.,2928970,NaN

In [ ]:
# GBIF for merging
gbif_species = gbif_species_normalized_raw[['occurrenceId', "key"]] \
    .rename(columns={"occurrenceId": "TAXA", "key": "speciesKey"})
gbif_species

       TAXA  speciesKey
0    100001     2685484
1    100002     3189870
2    100003     7308311
3    100004     3033665
4    100005     3033682
..      ...         ...
330  100448     7433196
331  100449     5341310
332  100450     3134951
333  100452     3034620
334  100453     2928970

[335 rows x 2 columns]

In [ ]:
# GBIF for cube? (there are duplicates -> removed)
species_export = gbif_species_normalized_raw[["key", "scientificName"]] \
    .rename({"key": "speciesKey" , "scientificName": "species"}) \
    .drop_duplicates()

species_export.to_csv(Path("./species_normalized.csv"), index=False)
species_export

         key                  scientificName
0    2685484                Abies alba Mill.
1    3189870          Acer pseudoplatanus L.
2    7308311      Acinos alpinus (L.) Moench
3    3033665            Aconitum napellus L.
4    3033682         Aconitum vulparia Rchb.
..       ...                             ...
330  7433196  Euonymus latifolius (L.) Mill.
331  5341310      Galeopsis pubescens Besser
332  3134951                    Hieracium L.
333  3034620        Aegopodium podagraria L.
334  2928970                    Verbascum L.

[333 rows x 2 columns]

In [ ]:
method_meta = pd.DataFrame(data = {"METHOD_CODE": ["Pfadenhauer-9","Br-Bl-7"], "description": ["adapted from Pfadenhauer et al. 1986", "Braun-Blanquet 1964"]})

cover = cover_raw.copy()
cover.columns=cover.columns.values
cover_rename_dict = {
    ("adapted from Pfadenhauer et al. 1986", "Cover code"): ("Pfadenhauer-9", "VALUE"),
    ("adapted from Pfadenhauer et al. 1986", "% cover"): ("Pfadenhauer-9", "Cover (%)"),
    ("Braun-Blanquet 1964", "Cover code"): ("Br-Bl-7", "VALUE"),
    ("Braun-Blanquet 1964", "% cover-abundance"): ("Br-Bl-7", "Cover (%)")
}
cover.rename(columns=cover_rename_dict, inplace=True)
cover.columns=pd.MultiIndex.from_tuples(cover.columns)
cover = cover.stack(0).droplevel(0, axis = 0).reset_index(names=["METHOD_CODE"]).sort_values(by=["METHOD_CODE"], ignore_index=True)
cover

      METHOD_CODE           Cover (%) VALUE
0         Br-Bl-7  single individuals     r
1         Br-Bl-7                  <1     +
2         Br-Bl-7                 1-5     1
3         Br-Bl-7                5-25     2
4         Br-Bl-7               25-50     3
5         Br-Bl-7               50-75     4
6         Br-Bl-7              75-100     5
7   Pfadenhauer-9  single individuals     r
8   Pfadenhauer-9                  <1     +
9   Pfadenhauer-9                 1-3    1a
10  Pfadenhauer-9                 3-5    1b
11  Pfadenhauer-9              5-12,5    2a
12  Pfadenhauer-9             12,5-25    2b
13  Pfadenhauer-9               25-50     3
14  Pfadenhauer-9               50-75     4
15  Pfadenhauer-9              75-100     5

In [ ]:
data.merge(station, on="SCODE", how="left") \
    .merge(gbif_species, on="TAXA", how="left") \
    .merge(cover, on=["METHOD_CODE", "VALUE"], how="left")

,SCODE,YEAR,MONTH,DAY,datetime,TAXA,SUBST,METHOD_CODE,VALUE,eastBoundingCoordinate,northBoundingCoordinate,altitudeMinimum,speciesKey,Cover (%)
0,0001F01,1993,7,15,19930715,100002,COVE_F,Br-Bl-7,2,14.44759,47.83903,908.5,3189870,NaN
1,0001F01,1993,7,15,19930715,100008,COVE_F,Br-Bl-7,+,14.44759,47.83903,908.5,3133738,<1
2,0001F01,1993,7,15,19930715,100016,COVE_F,Br-Bl-7,+,14.44759,47.83903,908.5,3033263,<1
3,0001F01,1993,7,15,19930715,100112,COVE_F,Br-Bl-7,1,14.44759,47.83903,908.5,3169315,NaN
4,0001F01,1993,7,15,19930715,100116,COVE_F,Br-Bl-7,+,14.44759,47.83903,908.5,5420853,<1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32604,0196F01,2021,6,22,20210622,100320,COVE_F,Pfadenhauer-9,3,14.44288,47.84450,801.9,4107079,NaN
32605,0196F01,2021,6,22,20210622,100356,COVE_F,Pfadenhauer-9,+,14.44288,47.84450,801.9,7298998,<1
32606,0196F01,2021,6,22,20210622,100358,COVE_F,Pfadenhauer-9,+,14.44288,47.84450,801.9,2742119,<1
32607,0196F01,2021,6,22,20210622,100369,COVE_F,Pfadenhauer-9,+,14.44288,47.84450,801.9,5663962,<1
32608,0196F01,2021,6,22,20210622,100246,COVE_S,Pfadenhauer-9,1a,14.44288,47.84450,801.9,5284884,1-3